{deps, [
  {cowboy, "2.11.0"},
  {cowlib, "2.12.1"},
  {ranch, "1.8.0"},
  {jsx, "3.1.0"},
  {amqp_client, "3.12.2"}
]}.

{erl_opts, [
  debug_info,
  warn_export_all,
  warn_unused_import,
  warn_shadow_vars,
  warn_unused_vars,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  warn_untyped_record,
  warn_export_vars,
  warn_exported_vars,
  warn_missing_spec,
  warn_untyped_function,
  {parse_transform, lager_transform}
]}.

{plugins, [
  {rebar3_lint, "0.1.2"}
]}.

{lager_extra_sinks, []}.

{profiles, [
  {prod, [
    {erl_opts, [
      {d, 'PRODUCTION'},
      {platform_define, "OTP_RELEASE", otp_version}
    ]},
    {relx, [{dev_mode, false}, {include_erts, true}]}
  ]},
  {dev, [
    {erl_opts, [
      {d, 'DEVELOPMENT'},
      {d, 'DEBUG'}
    ]}
  ]}
]}.

{relx, [
  {release, {distriqueue, "1.0.0"}, [
    distriqueue,
    sasl
  ]},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}
]}.

{shell, [
  {apps, [distriqueue]}
]}.