[
  {distriqueue, [
    {node_name, "orchestrator1@distriqueue"},
    {cookie, "distriqueue-cookie"},
    {rabbitmq_host, "rabbitmq1"},
    {rabbitmq_port, 5672},
    {rabbitmq_username, "admin"},
    {rabbitmq_password, "admin"},
    {http_port, 8081},
    {metrics_port, 9100},
    {raft_peers, ["orchestrator2@distriqueue", "orchestrator3@distriqueue"]}
  ]},

  {lager, [
    {handlers, [
      {lager_console_backend, [
        {level, info},
        {formatter, lager_default_formatter},
        {formatter_config, [
          date, " ", time, " [", severity, "] ",
          {pid, ""},
          {module, [
            {module, ""},
            {function, ""},
            {line, ""}
          ]},
          " ", message, "\n"
        ]}
      ]},
      {lager_file_backend, [
        {file, "log/distriqueue.log"},
        {level, info},
        {size, 10485760},
        {date, "$D0"},
        {count, 5},
        {formatter, lager_default_formatter},
        {formatter_config, [
          date, " ", time, " [", severity, "] ",
          {pid, ""},
          {module, [
            {module, ""},
            {function, ""},
            {line, ""}
          ]},
          " ", message, "\n"
        ]}
      ]}
    ]},
    {crash_log, "log/crash.log"},
    {crash_log_msg_size, 65536},
    {crash_log_size, 10485760},
    {crash_log_date, "$D0"},
    {crash_log_count, 5},
    {error_logger_redirect, true}
  ]},

  {kernel, [
    {logger_level, info},
    {logger, [
      {handler, default, logger_std_h, #{
        level => info,
        formatter => {logger_formatter, #{
          template => [
            time, " ", level, ": ",
            {pid, ["PID:", pid, " "], ""},
            {mfa, [module, ":", function, "/", arity, " "], ""},
            {line, ["LINE:", line, " "], ""},
            msg, "\n"
          ]
        }}
      }}
    ]}
  ]},

  {sasl, [
    {sasl_error_logger, false},
    {errlog_type, error},
    {utc_log, true}
  ]}
].